@use './_partials/variables' as *;
@use './_partials/mixins' as *; 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


header{
    background-color: $mainBlue;
    padding: 20px 0px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fw-700{
    font-weight: 700
}

.main-button{
    @include mixin_button($mainBlue, $mainHoverBlue, #fff);
}

.secondary-button{
    @include mixin_button($mainGrey, $mainGreyHover, grey);
}

.danger-alert{
    padding: 20px 10px;
    color: #fff;
    background-color: $mainRed;
    border-radius: 15px;
    font-size: 18px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 750px;
    max-width: 700px;
    margin: 0px auto;
    padding: 45px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    border-radius: 25px;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.vuecal--default-theme .vuecal__event.event-out {
  background-color: #f56565;
  color: white;
}

.vuecal--default-theme .vuecal__event.event-in {
  background-color: #48bb78;
  color: white;
}

.vuecal--default-theme .vuecal__event.event-order {
  background-color: #4880bb;
  color: white;
}
